


/* display none until init */
.product-carousel{
	display: none;
	opacity:1!important;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
#column-left .product-carousel, #column-right .product-carousel { display:block;}
#column-left .customNavigation, #column-right .customNavigation { display:none;}

#column-left .banners-slider-carousel .customNavigation,
#column-right .banners-slider-carousel .customNavigation{ display:block;}

.product-carousel .slider-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-webkit-perspective: 1000;
}
.product-carousel .slider-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.product-carousel .slider-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.product-carousel .slider-item{
	float: left;
}
.slider-controls .slider-page,
.slider-controls .slider-buttons div{
	cursor: pointer;
}
.slider-controls {
		-webkit-tap-highlight-color: transparent;
}

/* mouse grab icon */
 



/* fix */
.product-carousel  .slider-wrapper,
.product-carousel  .slider-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
}
.customNavigation    { text-align: center; position:relative;width:100%}
.customNavigation a{
		
	-webkit-tap-highlight-color:transparent;
	display: block;
    float: right;
    position: absolute;
	top: -52px;
    width: 21px;
	height:22px;
	padding:7px 0 0;
}

.customNavigation a.prev {
    right:25px;
	color:#FFFFFF;
	cursor:pointer;
	background:url(../../image/megnor/sprite.png) no-repeat scroll -12px 0px transparent;
	border:medium none;
}

.product-image .customNavigation a.prev {left:0; color:#000000; width:20px;}
.product-image .customNavigation a.next {right:0; color:#000000; width:20px;}
.product-image  .customNavigation a {top:40px;}

.customNavigation a.prev:hover 	{ text-decoration:none; background-position:-12px -30px;}
.customNavigation a.next {
    right:0px;
	color:#FFFFFF;
	cursor:pointer;
	background:url(../../image/megnor/sprite.png) no-repeat scroll -38px 0px transparent;
	border:medium none;
}
.customNavigation a.next:hover 	{  text-decoration:none;  background-position:-38px -30px;}

.banners-slider-carousel .product-carousel{  width:auto; margin:0 20px; }
.banners-slider-carousel .customNavigation a.prev {
    left:0px;
	top:80px;
	z-index:999;  
	cursor:pointer;	
	color:#000000;
	background:url(../../image/megnor/sprite.png) no-repeat scroll -12px 0px transparent;
	border:medium none;
}
.banners-slider-carousel .customNavigation a.prev:hover 	{text-decoration:none; z-index:999; background-position:-12px -30px;}
.banners-slider-carousel .customNavigation a.next {
    right:0px;
	top:80px;
	cursor:pointer;
	z-index:999; 
	color:#000000;
	left:auto;
	background:url(../../image/megnor/sprite.png) no-repeat scroll -37px 0px transparent;
	border:medium none;
}
.banners-slider-carousel .customNavigation a.next:hover 	{text-decoration:none; z-index:999; background-position:-37px -30px;}


.product-info .product-image .customNavigation    { text-align: center; width:100%; z-index:9;}
.product-info .product-image .customNavigation a{
	-webkit-tap-highlight-color: transparent;
	display: block;
    float: right;
    height: 20px;
    position: absolute;
    top: -34px;
    width: 16px;
}

.product-info .product-image .customNavigation span.prev {
    left:0px;
	top:40px;
	position:absolute;	 
	cursor: pointer;
    height: 25px;
    padding: 7px 0 0;
    position: absolute;      
    width: 25px;
	background:url(../../image/megnor/sprite.png) no-repeat scroll -13px 1px transparent;
	border:medium none;
}
.product-info .product-image .customNavigation span.prev:hover 	{  text-decoration:none; background-position:-13px -29px;}
.product-info .product-image .customNavigation span.next {	
    cursor: pointer;
    height: 25px;
    padding: 7px 0 0;
    position: absolute;
    right: 0;
    top: 40px;
    width: 25px;
	background:url(../../image/megnor/sprite.png) no-repeat scroll -34px 1px transparent;
	border:medium none;
}
.product-info .product-image .customNavigation span.next:hover 	{  text-decoration:none; background-position:-34px -29px;}


