* { direction: rtl; }
.owl-carousel .owl-wrapper-outer{direction:ltr;}
.product-carousel .slider-wrapper-outer{direction:ltr;}


/*-------------------------------------Float Left-------------------------------------*/
.header-cart,#cart .text-right .addtocart, #cart .text-right .checkout,.pagination-right,
.category_filter .limit,.pull-right,.contact-info .right,.pagination-wrapper .page-link,
#cart,.close,#accordion .panel-heading .fa.fa-caret-down, .header_right, .header_right_top,
.header_right_bottom, .footer_right, .header_right1, .header_right2,.search
{float:left;}
/*-------------------------------------------------------------------------------------*/

/*-------------------------------------Float Right-------------------------------------*/
.header-logo,.header-search,.category_filter .btn-list-grid,.compare-total,.category_filter .show,
.category_filter .sort,.sort-by-wrapper, .show-wrapper,.pull-left,.image1,.image2,.image3,.image4,
.contact-info .left,.contact-info .address-detail,.contact-info .telephone,.contact-info .fax,
.pagination-wrapper .page-result,.nav-tabs > li,legend, .header_left, #menu .categoryinner > ul,
.footer_left, .footer_center
{float:right;}
/*-------------------------------------------------------------------------------------*/

.text-right {text-align: left;}
.contact-info .address-detail,.contact-info .telephone,.contact-info .fax{float:right;}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, 
.input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, 
.input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    border-radius: 0px;
	-webkit-border-radius:0px;
	-khtml-border-radius:0px;
	-moz-border-radius:0px;

}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn
{
	border-radius: 0;
	-webkit-border-radius:0;
	-khtml-border-radius:0;
	-moz-border-radius:0;
}
.radio input[type=radio],.radio-inline input[type=radio],.checkbox input[type=checkbox],.checkbox-inline input[type=checkbox] {
    float: right;
	margin:5px 0 0 8px;
}
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline{margin-right:10px;margin-left:0;}
.dropdown-menu{
	right:0;
	left:auto;
}
.dropdown-menu.pull-right {
    right: auto;
    left: 0;
}
.affiliate-tracking .dropdown-menu{
	left:auto ;
	right:auto ;
}
.text-left{text-align:right;}

.flex-viewport {direction: ltr;}
.flex-control-nav{ right:auto; left:10px; padding:0;}

.customSelectInner , .customSelectOpen .customSelectInner{ background-position:left center; } 
.customSelectInner {padding-left:10px;  text-align: right;}
.category-info .image{ float:right; margin-left:10px; }
.product-info > .left + .right {  margin-right: 295px;   margin-left:0px;}
#topcontrol{ right:auto !important; left:10px !important; } 
.list-inline {padding-right:0;}
.product-thumb .button-group button{float:right;}

.toggle .mobile_togglemenu{left:5px;right:auto;}
.dark_area{left:auto; right:0;}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group{margin-right:0px; margin-left:0;}

.about-content{margin-right:70px; margin-left:0;}
.product-description .description-right{padding-right:15px; padding-left:0;}
.col-sm-10.pull-right{float:left;}


#form-currency{padding:0 0 0 17px;}
#top .fa.fa-caret-down{ margin:0 3px 0 0;}
#form-currency .dropdown-menu, #form-language .dropdown-menu > li > .btn, #top-links .dropdown-menu a{ text-align:right;}
#top-links ul li{background-position:-2px 12px;padding:0 0 0 16px;}
#top-links ul li:first-child{ background-position:-2px 12px;}
.myaccount .dropdown-menu-right { right:auto;   left: 0;}
#cart > .btn { background-position: right center;    padding: 5px 25px 5px 0px;}
#cart .text-right .addtocart, #cart .text-right .checkout{float:right;}
#cart .text-right .checkout { margin:0 5px 0 0;}
#cart .button-container{ float:left;}
#search{margin-left:10px; margin-right:0;}
#search .btn-lg{ margin:0 7px 0 0;}
#menu > ul > li {float:right;}
#menu > ul > li ul > li > ul{ margin-left:0; margin-right:-13px;}
#menu > ul > li ul > li > a { position:relative;}
#menu > ul > li ul > li > a.activSub{background: none; }
#menu > ul > li ul > li:hover > ul {	left:auto; right:173px;}
#menu > ul > li > div{right:0; left:auto; text-align:right;}
.categorycolumn{float:right; margin-left:25px; margin-right:0;}
a.submenu1, .level0 .level0 a{padding:0 8px 15px 0;}
.main-navigation ul:last-child .categorycolumn{margin-left:0px ;}
#menu > ul > li ul > li ul > li{padding-right:0 ; padding-left:0px;}
#menu .cate_inner_bg > ul > li a{padding:5px 8px 5px 0; text-align:right;}
.cms_subbanner1_1{ float:right; padding:0 0 0 10px;}
.cms_subbanner1_2 {  float: left;    padding: 0 10px 0 0;}
.htabs .etabs li{float:right;}
.htabs a{ margin-left:5px; margin-right:0px;}
#testcms .slider-item .img{float:right; margin-left:20px; margin-right:0;}
#testcms .slider-item .content-wrapper{ float:right;}
#testcms .comment, #testcms .post_author1{ float:right; margin:0 0 0 10px;}
.tm-about-text{float:right;}
.aboutme-read-more{float:left;}
#footer #footer_aboutus_block.col-sm-3.column{margin:0 0 0 35px;}
#footer .col-sm-3.column.last{margin:0 25px 0 0;}
#footer #block_contact_infos ul li { padding: 0 20px 0 0;}
#footer #block_contact_infos ul .address::before { float: right;  margin-right: -20px;  padding: 0 0 0 10px; margin-left:0px;}
#footer #block_contact_infos ul .phoneno::before {  float:right; margin-left:0px;    margin-right: -20px;    padding: 0 0 0 10px;}
#footer #block_contact_infos ul .email::before { float:right; margin-left:0px;   margin-right: -20px;   padding: 0 0 0 10px;}
footer .footer_bottom .footer_bottom_link li{ background-position:left center;  padding:0 4px 0 8px;}
.footer_right{text-align:left;}
.footer_bottom .payment_block li{margin-left:14px; margin-right:0; float:right;}
.social_block li{margin:0 0 0 10px;}
.list-unstyled {padding-right:0;}
.page-title, .account-success h1, .affiliate-success h1, .checkout-success h2, .container h2, .checkout-cart h1{right:0; left:auto;}
.breadcrumb{left:0 ; right:auto;}
#column-left{ float:right; }
#column-right{ float:left; }
.treeview-list .expandable-hitarea, .treeview-list .hitarea {float:left;}
.treeview-list .collapsable .expandable-hitarea, .treeview-list .collapsable-hitarea{background-position: -43px -126px;}
.treeview-list .expandable-hitarea, .treeview-list .expandable .collapsable-hitarea{background-position: -15px -127px;}
.box .box-content ul li a, #content .content ul li a{padding:0 0px 0 0 ; }
.box .box-content ul li a:hover, #content .content ul li a:hover{background-position:right -16px;}
.box .box-content ul li ul li a, #content .content ul li ul li a{padding:0 13px 0 0; background-position:right -41px;}
.box .box-content ul li ul li a:hover, #content .content ul li ul li a:hover{background-position:right -66px;}
ul.box-category > li a.active + ul , .box .box-content ul ul{ margin-left:0; margin-right:0px; }
ul.box-category > li ul > li > a{background: none;    padding-right: 0;}
ul.box-category > li ul > li > a:hover{	background: none; }
.filterbox .panel-footer{text-align:right;}
#column-left .box-product .image, #column-right .box-product .image{ float:right;   margin-left: 15px; margin-right:0; }
#column-left .product-items .product-details, #column-right .product-items .product-details, #column-left .slider-item .product-details, #column-right .slider-item .product-details{ float:right;}
#column-left .product-thumb .caption, #column-right .product-thumb .caption{text-align:right;}
.category_thumb .category_img, .category_thumb .category_description {float:right;}
.category_list li {float: right;margin: 0 0 7px 7px;}
.category_filter .sort-by{float:right;margin:5px 0 0 10px;}
.sale{ right:10px; left:auto; }
.background-overlay{right:auto; left:-100%;}
.product-block:hover .background-overlay{left:0; right:auto;}
.product_hover_block{right:-100%; left:auto;}
.product-block:hover .product_hover_block{right:0; left:auto;}
#content .action .button_group button::before, .hometab .action .button_group button::before, .productpage .product-right .btn-group button::before{ margin:0 0 0 6px;} 
.product-list .product-thumb .image {float: right; margin-left:25px; margin-right:0;}
.product-list .product-thumb:hover .product_hover_block{ left:0; right:auto;}
.product-list .product-thumb .caption{ text-align:right;}
.pagination > li > a, .pagination > li > span{float:right; margin-right:2px; margin-left:0px;}
.top_button{right:auto; left:12px;}
.control-label.qty{float:right; margin:3px 0 0 10px;}
.product-right .list-unstyled .old-price{ margin-left:10px; margin-right:0px;}
#input-quantity{float:right; margin-left:10px; margin-right:0;}
.productpage .product-right .btn-group button{ float:right; margin:0 0 0 15px;}
.addthis_toolbox.addthis_default_style {float:right; clear:both;}
.customNavigation a.prev { left: 0px;  right: auto;}
.customNavigation a.next{ left:25px;  right: auto; }
.nav-tabs > li > a{margin-right:0;margin-left:4px;}
.table.table-bordered .input-group-btn, .checkout-cart .input-group.btn-block .form-control{ float:right;}
.checkout-cart .input-group-btn:last-child > .btn, .checkout-cart .input-group-btn:last-child > .btn-group {  margin-left: 0;    margin-right: 5px;}
#accordion .form-horizontal .control-label { text-align: right;}
#accordion label.col-sm-2.control-label {  padding: 0 0 0 15px;}
.col-sm-4.col-sm-offset-8 {margin-right: 66.6667%; margin-left:0;}
.checkout-checkout #accordion label.col-sm-2.control-label { padding-left: 0;    padding-right: 15px;}
a.list-group-item{padding:4px 13px 4px 0; background-position:right 14px;}
a.list-group-item:hover, a.list-group-item:focus{background-position:right -11px;}
.form-horizontal .control-label {  text-align: right;}
.contact-info .address-detail strong{  padding: 5px 45px 0 0;background-position:right -233px;float:right;}
.contact-info .telephone strong{  padding: 5px 45px 0 0;background-position:right -312px;float:right;}
.contact-info .fax strong{  padding: 5px 45px 0 0;background-position:right -270px;float:right;}
.contact-info address{float:right;margin: 0 45px 0 0;}
.information-information .right, .modal-body .right { float:left;}
.layout-2.left-col #content {padding:0 14px 0 15px;}
.layout-2.right-col #content {padding:0 15px 0 14px;}
.product-list .product-thumb .product_hover_block{ left:-100%; right:auto;}
.product-list .product-thumb:hover .product_hover_block{left:0px;}
.product-search #description { margin: 5px 0 0 8px;}
#content .box.related .box-heading{ text-align:right;}
.product-grid li, #content .box-product .product-items{ float:right;}




/*-------------------------------------RTL Responsive-------------------------------------*/

@media (min-width:768px) {
    .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
        float: right;
	}
	
}

@media (max-width: 1230px){
	#menu > ul > li > div{right:-75px;}
	#footer #footer_aboutus_block.col-sm-3.column{margin:0 0 0 20px;}
	.contact-info .right{float:right;}
	#column-left .product-thumb .price-old, #column-right .product-thumb .price-old{float:right; margin-right:0;}
	.col-sm-4.col-sm-offset-8{margin-right:51.667%;}
	.shopping-cart .input-group-btn .btn.btn-danger{margin-right:1px;}
	#footer .col-sm-3.column.last { margin: 0 20px 0 0;}
}

@media (max-width: 1024px){
	#menu > ul > li > div{right:-80px;}
}

@media only screen and (max-width: 979px) {
 
	.nav-responsive .expandable{ float:left; margin-right:0; margin-left:10px;  }
	.nav-responsive div, .responsive-menu .hitarea{ margin-left:0px; margin-right:0; }
	 .responsive-menu .main-navigation ul{ padding-right:20px; padding-left:0; }
	.nav-responsive div, .responsive-menu .hitarea{ float:left; }
	.toggle .mobile_togglemenu{ background-position: left 0px; }
	.active .mobile_togglemenu {background-position: left -52px;}
	 .pagination-right{float:right;}
	 .nav-responsive{text-align:right;}
	 .nav-responsive span{margin-right:0;}
	 .nav-responsive .expandable{margin-left:0;}
	 #footer #footer_aboutus_block.col-sm-3.column, #footer .col-sm-3.column.last{margin:0;}
	 .footer_bottom .payment_block li, #footer .payment_block li{ float:none;}
	 .footer_right{text-align:center;} 
	 .responsive-menu .main-navigation li a {text-align:right;}
	 #column-left .box-product .image, #column-right .box-product .image{ margin-left:7px;}
	
	 .shopping-cart .input-group-btn{float:right;}
	 #accordion .form-horizontal .control-label{text-align:right;}
	 .col-sm-4.col-sm-offset-8 {margin-right: 51.667%; width: 48.333%;}
	 #footer .payment_block li:first-child a{margin:0;}
	 #footer .payment_block li{margin-right:0; margin-left:10px;}
	 #footer .col-sm-3.column.last > ul, #footer_aboutus_block .tm-about-description{padding-right:0px; padding-left:30px;}
	 #column-left .product-thumb .price-old, #column-right .product-thumb .price-old{float:right;}
	
	 .cms_subbanner1_1{ padding:0 0px 0 5px;}
	 .checkout-cart .table.table-bordered .input-group-btn{ float:right;}
	 .checkout-cart .input-group-btn:last-child > .btn, .checkout-cart .input-group-btn:last-child > .btn-group { margin-left: 5px;    margin-right: 0;}
	 .checkout-cart #accordion #button-coupon, .checkout-cart #accordion #button-voucher, .checkout-cart #accordion #button-reward { margin-right: 5px; margin-left:0px;}

}
@media (max-width: 767px) {
	.header-logo{dispaly:inline-block;float:none;width:100%; text-align:center;}
	.header-logo > div{display:inline-block;}
	#cart .dropdown-menu {left:0;right:auto;}
	.header-cart {display: inline-block; text-align: center; width: auto;}
	.category_filter .show {float: right; margin: 5px 0 0 10px;}
	.header-cart #cart{float:left;}
	.breadcrumb{right:auto; left:auto;}
	.product_hover_block{right:auto;}
	
	.page-title, .account-success h1, .affiliate-success h1, .checkout-success h2, .container h2, .checkout-cart h1{right:auto;}
	.product-list .product-thumb .image{float:right;}
	#testcms .slider-item .img{margin-left:15px;}
	
	.checkout-cart #accordion #button-coupon, .checkout-cart #accordion #button-voucher, .checkout-cart #accordion #button-reward { margin-right: 5px; margin-left:0px;}
	.col-sm-12.product_bottom{margin-top:58px;}
	#top-links.pull-right, .header_left, .header_right{ float:none;}
	.layout-2.left-col #content, .layout-2.right-col #content { padding: 0 15px;}

}

@media only screen and (max-width: 479px) {
	#cart .dropdown-menu { left: -85px;right:auto;}
	.table{	float: right; display:inline;}
	.pagination-wrapper .page-link{float:right;}
	.pagination-wrapper .page-result{float:right;clear:both;}

	.col-sm-4.col-sm-offset-8{margin-right:0; width:100%;}
	#collapse-coupon .input-group-btn, #collapse-voucher .input-group-btn{float:right;}
	.htabs li:first-child a, .htabs a {padding: 10px 22px;}
	#testcms .slider-item .content-wrapper{margin:20px 0 0;}
	#testcms .slider-item .img{margin-left:0;}
	#cart.fixed{right:auto; left:15px;}
	.home-about-me.container{text-align:center;}
	.aboutme-read-more, .tm-about-text{float:none;}
	.header-cart {float:none; width:100%;}
	.header-cart #cart, .search{ float:none;}
	#search{ margin:0 auto;}
	.dropdown-menu.language-menu, #form-currency .dropdown-menu{ right:-40px; left:auto;}
	.cms_subbanner1_1, .cms_subbanner1_2{ padding:0px;}
	.product-list .product-thumb .image{margin-left:0px;}
	.nav-tabs > li > a{ margin-left:0px;}
	.checkout-cart #content .pull-right{ float:right;}
	.checkout-cart #accordion #button-coupon, .checkout-cart #accordion #button-voucher, .checkout-cart #accordion #button-reward{ margin:0px;}
}
@media only screen and (max-width: 319px){
	#cart .dropdown-menu { left: -50px;right:auto;}
	#cart .text-right .checkout{margin:0;}
	#cart .text-right .checkout{float:left;clear:both;}
	.product-list .product-thumb .image{float:none;}
	.account-address .btn.btn-info, .account-address .btn.btn-danger{float:left;}
	#cart.fixed{left:5px; right:auto;}
}

