body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color:#666666;
	font-size: 13px;
	line-height: 22px;
	background-color:#fff;
	letter-spacing:1.28px;
}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* default font size */
.fa {
	font-size: 14px;
}
.fa-stack{width:12px;}
.fa-stack .fa{font-size:15px;}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #23a1d1;
}
a:hover {
	text-decoration: none;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 13px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 13px; padding:4px 5px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}

/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #333333;
}
/* top */

.header_inner {
    float: left;
    /*margin: 32px 0 32px;*/
    width: 100%;
}

#top-links .list-inline {
    margin-bottom: 0;
}

.header_right {
    float: right;
    width: 70%;
		margin-top:11px;
		max-width: calc( 100% - 195px);
		width: 100%;
}
.header_right_bottom button span {
    text-transform:capitalize;
	}

.header_left {
    float: left;
}
#top {
	background-color:#f5f5f5;
	padding: 7px 0px 7px 0;
	margin: 0 0 0px 0;
}
#top .container {
	padding:0px;
}

#top #form-currency .currency-select:hover {
	text-shadow: none;
	color:#c3c3c3;
}

#top-links ul li{padding:0 16px 0 0; background:url(../image/megnor/call.png) no-repeat scroll right 12px transparent;}
#top-links ul li:first-child{ background-position: right 12px;}
#top-links ul li:last-child{ padding:0; background:none;}
#top-links .dropdown-menu.dropdown-menu-right.myaccount-menu > li {
	padding:0;
	background:none;
}
#form-currency .dropdown-menu { padding: 5px 0px; text-align:left;}
#form-currency button {padding:0;}
#form-currency{ padding:0 17px 0 0;}

#form-language button {padding: 0px 0px 0px 0px; border-right:medium none;}
#top .fa.fa-caret-down{font-size:12px; margin:0 0 0 3px;}
#form-language img {margin: 0 0 2px;}
#form-language .dropdown-menu > li > .btn { padding: 3px 8px; text-align:left;}
#form-currency .dropdown-menu .btn { font-size: 13px ;  padding: 3px 8px; text-transform:capitalize;}
#form-language .dropdown-menu > li > .btn:hover, #form-currency button:hover{color:#c3c3c3;}
#top .btn-link, #top-links li, #top-links a {
	color: #000000;
	text-decoration: none; border:none; text-transform:capitalize;
}
#top-links li{padding:0;}
#top-links a .fa{padding:5px 5px;}
#top .btn-link:hover, #top-links a:hover {
	color:#f5606e;
}
#top-links .dropdown-menu a {
	text-shadow: none; padding: 3px 8px; text-align:left;
}
#top-links .dropdown-menu a:hover {
	color:#c3c3c3;
}
#top .btn-link strong {
	font-size: 13px;
	font-weight: 400;
}
#top-links {
	padding-top: 0px;
}
#top-links a + a {
	margin-left: 15px;
}
/* logo */
.header-logo{float:left;}
.header-search{float:left;}
.header-cart{float:right; margin-top: 38px;}
#logo {
	margin:11px 0 7px;
	display:inline-block;
}
/* search */
#search {
  margin-top: 38px;
	margin-right: 10px;
	background:#ececec;
	padding:7px;
}
.search {position: relative; float:right;max-width: calc( 100% - 200px); width: 100%;}
@media only screen and (max-width: 1235px){
	.search{
		float: none;
	}
}
#search .input-lg {
	background:#fff;
    border: medium none;
    height: 30px;
    padding: 0px;
    position: relative;
    width: 321px;
	border-radius:0; -webkit-border-radius:0px;  -khtml-border-radius:0px;  -moz-border-radius:0px;
	transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-ms-transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	text-transform:capitalize; padding:0 10px;
}
#search .input-group-btn {
    width: auto;
}
@media only screen and (max-width: 1235px){

}
@media only screen and (max-width: 1024px){
	#search .input-lg{
		width: 200px;
	}
}
/*#search:hover .input-lg{width:190px;}*/

#search .btn-lg {
	padding: 15px;
	background:url(../image/megnor/search.png) no-repeat scroll 6px 6px #fff;
	border:medium none;
	margin:0 0 0 7px;
}

.search .content-1,
.search .content-2{
	display: inline-block;
	position: relative;
}
.search .content-1{
	margin-left: 6%;
}
.search .content-2{
	margin-left: 8%;
}
.search .content-2 img{
  position: absolute;
	top: 10px;
}
.search .content-2 span{
	font-size: 13px;
	color: #9A9A8C;
	display: block;
	text-align: right;
	letter-spacing: 1.5px;
}
.search .content-2 p{
	font-size: 35px;
	color: #B23D11;
	font-weight: 800;
	letter-spacing: 0px;
}
.search .content-2 p small{
	font-size: 13px;
	color: #000000;
	display: inline-block;
	margin-right: -8px;
}
@media only screen and (max-width: 1200px){

	.search .content-1,
	.search .content-2{
		display: inline-block;
		position: relative;
	}
	.search .content-1{
	}
	.search .content-2{
	}
	.search .content-2 img{
	  position: absolute;
		top: 10px;
	}
	.search .content-2 span{

	}
	.search .content-2 p{

	}
	.search .content-2 p small{

	}
}
/* cart */
#cart {
    float: right; background:#f5606e; padding:7px 15px; cursor:pointer; background-color: #B23D11;
}
#cart > .btn {
	border:medium none;
	background:url(../image/megnor/cart1.png) no-repeat scroll left center transparent;
	padding:5px 0 5px 25px;
	font-size:12px; font-weight:normal; color:#fff; text-transform:capitalize; font-weight:bold; line-height:20px;
}
#cart.open > .btn {
	box-shadow: none; -moz-box-shadow:none; -webkit-box-shadow:none;
	text-shadow: none;
}

#cart:hover {
	background:#333;
}
#cart .dropdown-menu {
	background: #fff;
	z-index: 1001;
	width: 350px;
	padding:10px;
	margin:3px 0 0;
}
#cart .button-container {
  float:right;
    width:auto;
}
#cart .dropdown-menu table {
	margin-bottom: 10px; border:none;
}
#cart .dropdown-menu table td{ background: none;  border-bottom: 1px solid #dddddd;    border-top: medium none;}
#cart .dropdown-menu .table-bordered{ border:none;}
#cart .dropdown-menu .table-bordered tbody tr td {
    border: medium none;
    padding: 3px;
}
#cart .dropdown-menu li > div {}
#cart .dropdown-menu li p {margin-bottom:0;	}


/*Mega Menu Start*/

#menu ul {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#menu > ul > li{
	float: left;
	position: relative;
    z-index: 20;
}
#res-menu {display: none;}
#menu .categoryinner > ul{float:left;}
#menu > ul > li > div{
    left: 0;
    min-width: 610px;
    padding: 30px;
    z-index: 12345;
	background: none repeat scroll 0 0 #fff;
  	display: none;
    position: absolute;
    text-align: left;
    top: 70px;
	box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.25);
}
#menu > ul > li.hiden_menu div {
    min-width: 180px;
}
#menu > ul > li:hover > div{display:block;}
#menu .categoryinner ul > ul{float:left;}
#menu ul {
    float: none;
    list-style: outside none none;
    margin: 0;
    padding: 0;
	display:inline-block;
}
.main-navigation ul:last-child .categorycolumn{margin-right:0px;}
.categorycolumn {
    float: left;
    margin-bottom: 0;
    margin-right: 25px;
    vertical-align: top;
	}
a.submenu1, .level0 .level0 a {
    display: block;
    position: relative;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 2px solid #e4e3e3;
    color: #22272a;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 12px;
	padding:0 0 15px 8px;
    text-transform: uppercase;
}
a:hover.submenu1{color:#1a1a1a;}
#menu .cate_inner_bg > ul > li a {
    padding: 5px 0 5px 8px;
   	color: #454545;
    font-size: 12px;
    font-weight: 400;
	display:block;
}
#menu .cate_inner_bg > ul > li a:hover{
	background: none repeat scroll 0 0 #f4f4f4;
    color: #22272a;
}
#menu > ul > li ul > li:hover > a {
	transition-duration: 500ms;
	-moz-transition-duration: 500ms;
	-o-transition-duration: 500ms;
	-webkit-transition-duration: 500ms;
	-ms-transition-duration: 500ms;
	color:#e85e5e;
}
.categorycolumn ul {
    float: left;
}
.cate_inner_bg ul {
    padding-top: 7px !important;
}
.categoryinner ul {
    padding: 0 !important;
}
.cate_inner_bg li {
    padding: 0 ;
}
#menu > ul > li ul > li ul > li{
	padding-right:0px ;
	}
#menu > ul > li ul > li ul > li:hover{
	}
#menu > ul > li ul > li > a {
    font-weight: 400;
	color: #a27c66;
    line-height: 18px;
    padding: 4px 6px;
	text-decoration:none;
    display: inline-block;
    white-space: nowrap;
}

.submenu2 {
    border-bottom: 0 none;
    font-size: 11px;
    font-weight: 400;
    margin-left: 0;
    text-transform: uppercase;
}
#menu .hiden_menu .categoryinner > ul {
    display: none;
}


/*Mega Menu End*/



/* menu */

.nav-container {border-top: medium none;}
.nav-inner-container{background-color:#333333;}
nav .container{padding:0;}
.nav-responsive { display:none;}
.responsive-menu,
.main-menu {
	background: #333333;
	height: 70px;
	margin-bottom: 0px;
	/*overflow:hidden; HIDE CATEGORIES THOSE ARE OUT OF MANU.  */
}

.main-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.main-menu > ul > li {
	position: relative;
	float: left;
	z-index: 20;
	background-color:#333333;
}
.main-menu > ul > li:hover {
}

 .nav-responsive span,
.main-menu > ul > li > a {
	font-size: 13px;
	color: #fff;
	display: block;
	padding: 24px 20px;
	margin-bottom: 0px;
	z-index: 6;
	position: relative;
	font-weight:700;
	text-transform:uppercase;
}
.main-menu a:hover { text-decoration:none}

.main-menu > ul > li:hover > a {
	color:#f5606e;
}
.main-menu > ul > li > ul , .responsive-menu .main-navigation{
	display: none;
	background: #fff;
	position: absolute;
	z-index: 5;
	padding: 5px;
}
.main-menu > ul > li:hover > ul {
	display: block;
}
.main-menu > ul > li ul > li > ul {
	display: none;
	background: #15BCF0;
	position: absolute;
	z-index: 5;
	padding: 5px;
	margin-left:-13px;
}
.main-menu > ul > li ul > li:hover > ul {
	display: block;
	 top: 0px;
    left: 173px;
}

.main-menu > ul > li > ul > ul {
	/*display: table-cell;*/
}
.main-menu > ul > li ul + ul {
	/*padding-left: 20px;*/
}
.main-menu > ul > li ul > li > a , .responsive-menu .main-navigation li a{
	padding: 8px;
	color: #22272a;
	display: block;
	white-space: nowrap;
	text-align:left;
}
.main-menu > ul > li ul > li > a{min-width: 160px;}
.main-menu > ul > li ul > li > a:hover  , .responsive-menu .main-navigation li a:hover  {
	color:#c3c3c3;
	background-color:#fff;
}
.main-menu > ul > li ul > li > a.activSub {
	background-image:url(../image/megnor/cat_arrow_hover.png) ;
	background-repeat:no-repeat;
	background-position: right center;
}
.main-menu > ul > li > ul > ul > li > a {
	color: #FFFFFF;
}
#slideshow0 .owl-wrapper .owl-item img{/*width:100%;*/}

.product-list .productlist_details{overflow:hidden;}
.productlist_details .button_group {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
		border-radius: 0px; -webkit-border-radius:0px;  -khtml-border-radius:0px;  -moz-border-radius:0px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0; -webkit-border-radius:0px;  -khtml-border-radius:0px;  -moz-border-radius:0px;
		color: #fff;
	}
}

/* 1-col layout */

#column-left{
	width:25.65%;
}
#column-right{
	width:25.65%;
}
.layout-1 #content{
}

/* 2-col layout */

.layout-2.left-col #column-left{
	width:25.65%;
}
.layout-2.right-col #column-right{
	width:25.65%;
}
.layout-2 #content{
	width:74.35%;
}
.layout-2.left-col #content {
	padding:0 15px 0 14px;
}
.layout-2.right-col #content {
	padding:0 14px 0 15px;
}

/* 3-col layout */
.layout-3 #column-left{
	width:25.65%;
}
.layout-3 #column-right{
	width:25.65%;
}
.layout-3 #content{
	width:48.70%;
}
/* content */
#content {
	min-height: 400px;
	margin-bottom:20px;
}

/*CMS Block Start */


.content_about_inner {
    margin: 0 0 11px;
    padding: 0 0 13px;
	font-size:22px;
	font-weight:bold;
	color:#333333;
	border-bottom:1px solid #e9e8e8;
	display:inline-block; text-transform:uppercase;
}
.content_about {
    text-align: center;
	margin:5px 0 59px;
}
.content_abou_read span{
	 color:#676767;
	 font-size:15px;
}


.cms_banner {
    overflow: hidden;
	margin-bottom:30px;
}
.cms_subbanner1_1 {
    float: left;
    width: 50%; padding:0 10px 0 0;
}
.cms_subbanner1_2 {
    float: right;
    width: 50%; padding:0 0 0 10px;
}
.cms_banner .banner{ position:relative;}
.cms_banner .banner a:hover::before, .cms_banner .banner a:hover::after {
    height: 100%;
    transition: all 0.4s ease-out 0s; 	-webkit-transition:all 0.4s ease-out 0s; -moz-transition: all 0.4s ease-out 0s; -ms-transition: all 0.4s ease-out 0s; -o-transition: all 0.4s ease-out 0s;
    width: 100%;
}
.cms_banner .banner a::before {
    background-color: rgba(0, 0, 0, 0.1);
    content: "";
    height: 0;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    transition: all 0.3s ease-out 0s; 	-webkit-transition: all 0.3s ease-out 0s; -moz-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s;
    width: 0;
}
.cms_banner .banner a::after {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    content: "";
    height: 0;
    position: absolute;
    right: 0;
    transition: all 0.3s ease-out 0s;  	-webkit-transition: all 0.3s ease-out 0s; -moz-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s;
    width: 0;
}



.cms_subbanner_top{ margin-bottom:20px;}
.cms_banner a{ display:block;}

.static_category {
    float: left;
    margin: 30px 0;
    position: relative;
    width: 100%;
	}


#footer_aboutus_block > h5{display:none;}
#footer_aboutus_block > ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#footer .column .tm-about-logo > a{background:none; padding:0;}
.tm-about-logo{margin-bottom:18px;}
#footer #footer_aboutus_block.col-sm-3.column {
    margin: 0 35px 0 0;
    padding: 0;
    width: 25%;
}
#footer .col-sm-3.column.last > ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#footer .col-sm-3.column.last {
    margin: 0 0 0 25px;
    width: 24%;
}
#footer .col-sm-3.column .email > a{padding:0; background:none; text-transform:lowercase;}

#footer #block_contact_infos ul li::before {
    color:#c9c9c9;
    font-family: "FontAwesome";
    font-size: 16px;
    vertical-align: top;
}
#footer #block_contact_infos ul li {
    margin: 0;
    padding: 0px 0 0 20px;
}
#footer #block_contact_infos ul .address::before {
    content: "\f041";
    margin-left: -20px;
    padding: 0 10px 0 0;
}
#footer #block_contact_infos ul .phoneno::before {
    content: "\f10b";
    font-size: 20px;
    margin-left: -20px;
    padding: 0 10px 0 0;
}
#footer #block_contact_infos ul .email::before {
    content: "\f0e0";
    font-size: 13px;
    margin-left: -20px;
    padding: 0 10px 0 0;
}


.footer_bottom {
    background:#1a1a1a;
    clear: both;
    overflow: hidden;
    padding: 20px 0 20px 0;
}
.footer_left {
    float: left;
    margin: 13px 0 13px;
    width: 20%;
	 position:relative; z-index:99;
}
.footer_center {
    float: left;
    text-align: center;
    width: 50%;
}
.footer_right {
    float: right;
    margin: 14px 0 10px 0;
    text-align: right;
    width: 17%;
	position:relative; z-index:99;
}
.footer_bottom .footer_left > h5 , .footer_bottom .footer_right > h5 {
    display: none;
}
.footer_bottom .payment_block a{ display:block; height:22px; width:32px;}

.footer_bottom .payment_block li.visa {  background: url(../image/megnor/visa.png) no-repeat scroll 0 0 transparent;}
.footer_bottom .payment_block li.mastro{ background: url(../image/megnor/discover.png) no-repeat scroll 0 0 transparent;}
.footer_bottom .payment_block li.paypal {background: url(../image/megnor/paypal.png) no-repeat scroll 0 0 transparent;}
.footer_bottom .payment_block li.amex {background: url(../image/megnor/amex.png) no-repeat scroll 0 0 transparent;}
.footer_bottom .payment_block, .social_block { margin: 0; padding: 0;list-style:outside none none;}
.footer_right .social_block li a .fa {
    font-size: 19px;
    font-weight: 300;
}
.footer_right .social_block li a{color:#c9c9c9;}
.footer_right .social_block li a:hover{color:#fff;}
.footer_bottom li{display:inline-block;}
.footer_bottom .payment_block li, #footer .payment_block li{
  cursor: pointer;
    height: 22px;
    list-style: outside none none;
    width: 32px;
	margin-right:14px;
	float:left;
}
.footer_bottom_inner.container{padding:0;}
.footer-top{background-color:#B23D11; position:relative; margin:0px;}
footer .footer-top .footer_title1 {
    color: #333333;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0;
    position: relative;
	text-transform:uppercase;
}
.footer-top .footer_title2 {
    color: #fff;
    font-weight: 100;
    margin-left: 60px;
}
.footer-top .Footer_title3 {
    color: #fff;
}
.home-about-me.container{padding:18px 0 17px;}
.aboutme-read-more {
    float: right;
    margin: 16px 0;
}
.footer-top .aboutme-read-more > a {
    background-color:#202020;
    padding: 12px 15px;
    text-transform: uppercase;
	font-size:15px;
	font-weight:500;
	color:#fff;
}
.footer-top .aboutme-read-more > a:hover{background-color:#fff; color:#f5606e; transition:all 0.2s ease 0s;
	-moz-transition:all 0.2s ease 0s;
	-o-transition:all 0.2s ease 0s;
	-webkit-transition:all 0.2s ease 0s;
	-ms-transition:all 0.2s ease 0s;
	}
.tm-about-text{float:left; line-height:50px;}

.social_block li {
    cursor: pointer;
    display: inline-block;
    height: 25px;
    margin: 0 10px 0 0;
    padding: 0;
    width: 25px;
}
.social_block li:last-child{margin:0;}
#testcms .slider-item .img {
    float: left;
    margin-right:20px;
	position:relative; overflow:hidden;
}
#testcms .slider-item .content-wrapper {
   float:left; width:47%;
}
#testcms .blog_date {
    color: #f5606e;
    font-size: 30px;
    font-weight: 700;
    margin:2px 0 5px;
	font-family: "Arimo";
}
.blog_date .day_month {
    font-size: 17px;
    text-transform: uppercase;
}
#testcms .title a {
    font-size: 13px;
    font-weight: 700;
	text-transform:uppercase;
	color:#333333;
}
#testcms .desc {
    color: #9c9c9c;
    font-weight:normal;
	margin:15px 0;
	text-transform:initial;
}
#testcms .comment, #testcms .post_author1 a{
     color: #9c9c9c;
    float: left;
    font-size: 12px;
    font-style: italic;
    margin: 0 10px 0 0;
}
#testcms .post_author1 a:hover{ color:#22272a}
#testcms .customNavigation {
    display: none;
}
#testcms .slider-controls.clickable {
    bottom: -80px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
}
#testcms .slider-pagination{position:relative; text-align:center;}
#testcms .slider-page{display:inline-block; margin:0 2px;}
#testcms .slider-page.active > span, #testcms .slider-page:hover > span {
    background:  url(../image/megnor/banner-bullate.png) no-repeat scroll 0px -24px transparent;
}

#testcms .img_inner img {
   	transition:all 0.4s ease 0s;
	-moz-transition:all 0.4s ease 0s;
	-webkit-transition:all 0.4s ease 0s;
	-o-transition:all 0.4s ease 0s;
	-ms-transition:all 0.4s ease 0s;
	transform:scale(1); 	-moz-transform:scale(1); 	-webkit-transform:scale(1); -o-transform:scale(1);	-ms-transform:scale(1);
	width:100%;
}
#testcms .img_inner{overflow:hidden;}
#testcms .img_inner .block_hover {
    background:rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    opacity: 0; -khtml-opacity: 0; -webkit-opacity: 0; -moz-opacity:0;
    position: absolute;
    top: 0;
    transition: all 0.4s ease 0s; -webkit-transition: all 0.4s ease 0s; -moz-transition:  all 0.4s ease 0s; -ms-transition:  all 0.4s ease 0s; -o-transition: all 0.4s ease 0s;
    width: 100%;
}
#testcms .slider-item .img:hover .block_hover {
    transition: all 0.4s ease 0s; 	 -webkit-transition: all 0.4s ease 0s; -moz-transition: all 0.4s ease 0s; -ms-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s;
    opacity: 1; -khtml-opacity: 1; -webkit-opacity: 1; -moz-opacity:1;
    right: 0;
    top: 0;
    z-index: 9999;
}
#testcms .img_inner .block_hover .links {
    margin: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 42%;
    transition: all 0.4s ease 0s; -webkit-transition: all 0.4s ease 0s; -moz-transition: all 0.4s ease 0s; -ms-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s;
    width: 100%;
}
.block_hover .links a i {
    background:rgba(245, 96, 110, 0.7);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%; -webkit-border-radius:50%;  -khtml-border-radius:50%;  -moz-border-radius:50%;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    line-height: 40px;
    margin: 0;
    opacity: 0; -khtml-opacity: 0; -webkit-opacity: 0; -moz-opacity:0;
    transform: scale(1.5); -webkit-transform: scale(1.5); -ms-transform:scale(1.5); -o-transform:scale(1.5); -moz-transform:scale(1.5);
    transition: all 0.4s ease 0s;  -webkit-transition: all 0.4s ease 0s; -moz-transition: all 0.4s ease 0s; -ms-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s;
    width: 40px;
}
#testcms .slider-item .img:hover .links a .fa {
    opacity: 1; -khtml-opacity:1; -webkit-opacity: 1; -moz-opacity:1;
    transform: scale3d(1, 1, 1); -webkit-transform: scale3d(1, 1, 1); -ms-transform:scale3d(1, 1, 1); -o-transform:scale3d(1, 1, 1); -moz-transform:scale3d(1, 1, 1);
    transition: all 0.4s ease 0s;  -webkit-transition: all 0.4s ease 0s; -moz-transition: all 0.4s ease 0s; -ms-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s;
}
#testcms .img_inner .block_hover .links a:hover i {
    background: rgba(255, 255, 255, 0.8);
    color: #000000;
}


#testcms .slider-page > span {
    background: url(../image/megnor/banner-bullate.png) no-repeat scroll 0px 0px transparent;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 15px;
    text-indent: -9999px;
    width: 15px;
}
#testcms .slider-wrapper-outer {
    margin-bottom: 73px;
}

/*CMS Block End */


/* footer */
footer {
	margin-top: 10px;
	padding-top: 0px;
	background-color: #333333;
	border-top: medium none;
	color:#c9c9c9;
	position:relative;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
#footer .col-sm-3.column{width:18%; padding:0; margin:0 30px;}

#footer .column li a {
    padding: 0px;
}
footer a:hover, footer a:focus {
	color: #fff;
}
footer a{ color:#c9c9c9;}
footer h5 {
	color: #fff;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 14px;
	margin-top:0;
    text-shadow: none;
	line-height:13px;
	text-transform:uppercase;
}
#footer .col-sm-3.column .list-unstyled{line-height:23px;}
#footer .footer_left.col-sm-3.column, #footer .footer_right.col-sm-3.column{display:none;}
#footer.container {
    overflow: hidden;
    padding: 78px 15px 72px;
}
footer .footer_bottom .footer_bottom_link li {
    background:url(../image/megnor/footer_pipe.jpg) no-repeat scroll right center transparent;
    display: inline;
    padding: 0 8px 0 4px;
}
footer .footer_bottom .footer_bottom_link li.last {
    background:none;
}
footer .footer_bottom .footer_bottom_link ul{ margin:0 0 5px; padding:0px;}
.footer_bottom_link {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
}

/*Content*/

.common-home .content-top-breadcum, .common-home  .breadcrumb {display:none;}
.content-top-breadcum {
    overflow: hidden;
    width: 100%;
	margin: 25px 0;
    padding: 10px 0;
	position:relative;
}

@media (max-width: 979px) {
#footer .column ul {
    display: none;
}
#footer .column {
    width: 100%;
}
}
/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
	background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 0px; -webkit-border-radius:0px;  -khtml-border-radius:0px;  -moz-border-radius:0px;
    list-style: outside none none;
    margin-bottom: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: -48px;
	text-transform:uppercase;
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
	position: relative;
	white-space: nowrap;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:after {}

.pagination {
	margin: 0;
}
/* buttons */
.buttons {
	display: inline-block;
    margin-bottom: 10px;
    padding: 6px 0;
    width: 100%;
	white-space:nowrap;
}
.btn {
	padding: 6px 12px;
	font-size: 14px;
	border: 1px solid #cccccc;
	border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	-moz-border-radius:4px;
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 13px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
  	color: #fff;
    background: #428bca;
    border:1px solid #357ebd;
}
.btn-primary {
	color: #fff;
    background-color: #428bca;
    border:1px solid #357ebd;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	color: #fff;
    background-color: #3276b1;
    border:1px solid #285e8e;
	background-position: 0 -15px;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	background: #d9534f;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0; -webkit-border-radius:0px;  -khtml-border-radius:0px;  -moz-border-radius:0px;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none; -moz-box-shadow:none; -webkit-box-shadow:none;
}
.btn-inverse {
	color: #ffffff;
	background: #363636;
	border:none;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}
@media (max-width: 767px) {

 }

/* list group */

.box .filterbox {
	border:medium none;
	padding:0px 0 0px;
	margin:0px 0 0;
	background:none repeat scroll 0 0 transparent;
}
.list-group a {
	border-top: medium none;
	color: #454545;
	padding: 0px;
	font-size:13px;
	font-weight:700;
	background: none repeat scroll 0 0  transparent;
}
.filterbox .panel-footer{text-align:left; padding:10px 0 0; border:none;}

.filterbox .list-group .group_name{padding:0; background:none repeat scroll 0 0 rgba(0, 0, 0, 0); font-weight:700; color:#333333; text-transform:uppercase;}
.filterbox .list-group-item label{ text-transform:capitalize;}
#cart button .fa.fa-shopping-cart {display: none;}
.filterbox .list-group-item label:hover{ color:#c3c3c3;}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #444444;
	background: #eeeeee;
	text-shadow: 0 1px 0 #FFF;
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	border:medium none;
	margin-bottom: 20px;
	overflow: hidden;
}
.product-grid .product-thumb {margin-bottom:30px;}
.product-thumb .image {
	text-align: center;
	position:relative;
	background:#F6F4F5;
}
.product-thumb .image a {
	display: block;
}

.hometab .product-block:hover  .image a, .product-grid .product-block:hover .image a, .box.related .product-block:hover .image a, .product-list .product-block:hover .image a{background-color:rgba(0, 0, 0, 0.5);}
.hometab .product-block:hover .image img, .product-grid .product-block:hover .image img, .box.related .product-block:hover .image img, .product-list .product-block:hover .image img, .common-home .product-block:hover .image img  {
	opacity: 0.5;
	-moz-opacity: 0.5;
	-webkit-opacity: 0.5;
	-khtml-opacity: 0.5;
	 transition:all 500ms ease 0s;
	-moz-transition: all 500ms ease 0s;
	-ms-transition: all 500ms ease 0s;
	-webkit-transition:all 500ms ease 0s;
	-o-transition: all 500ms ease 0s;
	}

.product-thumb .image a:hover {
	opacity: 1;
	-moz-opacity: 1;
	-webkit-opacity: 1;
	-khtml-opacity: 1;
}
.background-overlay {
    background: none repeat scroll 0 0 #ff9cac;
    height: 100%;
    letter-spacing: 1px;
    opacity: 0.9;
	-moz-opacity: 0.9;
	-webkit-opacity: 0.9;
	-khtml-opacity: 0.9;
    position: absolute;
    right: -100%;
    top: 0;
    transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
    width: 100%;
	display:none;
}
.hometab .product-thumb .price-old, .product-grid .product-thumb .price-old, .related-products .product-thumb .price-old{color:#9c9c9c; line-height:15px;}
.product_hover_block {
    left: -100%;
    position: absolute;
    top: 125px;
    transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
    width: 100%;
}
.product-block:hover .product_hover_block{
    left: 0;
}
.product-list .product-thumb .product_hover_block{ right:-100%; left:auto; opacity:0; -khtml-opacity: 0; -webkit-opacity:0; -moz-opacity:0; top:125px;}
.product-list .product-thumb:hover .product_hover_block{ right:0%; left:auto; opacity:1; -khtml-opacity: 1; -webkit-opacity:1;-moz-opacity:1;}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
	height:auto;
	opacity:1;
	-khtml-opacity: 1; -webkit-opacity:1;-moz-opacity:1;}
.product-grid .product-thumb .image {
	float: none; background:#F6F4F5;
}
@media (min-width: 767px) {}
.product-list .product-thumb .image {
	float: left;
	padding: 0px;
	margin-right:25px; overflow:hidden;
}
.product-thumb h4 {
	font-weight: 700;
	margin-bottom:9px;
}
.product-thumb .caption {
	padding: 0 0px 1px;
	text-align:center;
}

@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
	padding: 0 0px;
}
}
@media (max-width: 767px) {
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 0px;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}
}

.product-thumb .rating {
	padding-bottom: 8px;
}
.rating .fa-stack {
	font-size: 8px;
}

.rating .fa-star{
	color: #f2b611;
	font-size: 13px;
}
.rating-wrapper .fa-star, #review .fa-star, .product-compare .rating .fa-star, #review .fa-star{
	color: #9c9c9c;
	font-size: 13px;
}
.rating .fa-star + .fa-star, .rating-wrapper .fa-star + .fa-star, #review .fa-star + .fa-star{
	color: #f2b611;
}

.rating .fa-star, .product-compare .fa.fa-star {
    color: #f2b611;
    font-size: 13px;
}
.rating .fa.fa-star.off, #review .fa.fa-star.off {
    color: #ffffff;
}
.fa.fa-star.off {
    color: #ffffff;
}
#column-left .fa.fa-star.off, #column-right .fa.fa-star.off, .product-compare .fa.fa-star.off{
	color: #9c9c9c;
	font-size: 13px;
}



h2.price {
	margin: 0;
}
.product-thumb .price {
	display:inline-block;
	vertical-align:middle;
	/*margin:5px 0 2px;*/
	color: #333333;
    font-size: 20px;
    font-weight: 600;
	padding:0 0 4px;
	width:100%;
}
#content .action .button_group, .hometab .action .button_group {
    margin:  0;
	padding:0;
}
#content .button_group > li, .hometab .button_group > li{padding:0; display:block;-khtml-opacity: 1; -webkit-opacity:1;-moz-opacity:1;}
#content .button_group > li:first-child, .hometab .button_group > li:first-child{margin-top:2px;}

#content .action .button_group button, .hometab .action .button_group button{
	background:none;
    border-bottom: 1px solid #fff;
    border-left: medium none;
    border-right: medium none;
	border-top:medium none;
    padding:4px 25px 4px 25px;
	 font-weight: 700;
    text-transform: uppercase;
	color:#fff;
	font-size:12px;
}
#content .action .button_group .wishlist_button:hover, .hometab .action .button_group .wishlist_button:hover, #content .action .button_group .compare_button:hover, .hometab .action .button_group .compare_button:hover{ color:#3c3c3c;}

#content .action .button_group .compare_button, .hometab .action .button_group .compare_button{ border-bottom:none;}


#content .action .button_group button::before, .hometab .action .button_group button:before, .productpage .product-right .btn-group button:before {
    content: "\f067";
    font-family: "FontAwesome";
    font-size: 11px;
    margin: 0 6px 0 0; font-weight:normal;
}


.product-thumb .price-new {
	font-weight: 600;
	/*float:left;*/
}
.product-thumb .price-old {
	text-decoration: line-through;
	/*float:left;*/
	color: #9c9c9c;
    font-size: 16px;
    font-weight: 400;
    margin-right: 10px;
}
#column-left .product-thumb .price-old, #column-right .product-thumb .price-old{font-size:14px; color:#9c9c9c;}
.product-thumb .price-tax {
	color: #999;
    display: inline-block;
    font-size: 12px;
    width: 100%;
	display:none;
}
.product-thumb .button-group {
	border-top:none;
	background:none;
	overflow: hidden;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}
 #content .product-block .product-details .wishlist,  #content .product-block .product-details .compare{ display:none;}

@media (max-width: 768px) {
.product-list .product-thumb .button-group {
	border-left: none;
}
}
.product-thumb .button-group button, #cart .text-right .addtocart, #cart .text-right .checkout {
	width: auto;
	border: none;
	display: inline-block;
	background-color: #fff;
	color: #333;
	padding:5px 10px;
	font-weight: 700;
	text-align: center;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	border:1px solid #333;
	font-size:11px;
}
#cart .text-right .addtocart,#cart .text-right .checkout{width:auto;float:left;}
#cart .dropdown-menu .img-thumbnail{width:auto;max-width:none;}
#cart .text-right .checkout{margin:0 0 0 5px;}

.product-thumb .button-group button:hover,#cart .text-right .addtocart:hover,#cart .text-right .checkout:hover{
	color: #fff;
	background-color: #333333;
	text-decoration: none;
	cursor: pointer;
}
@media (max-width: 1200px) {
.product-thumb .button-group button, .product-thumb .button-group button + button {
	width: 33.33%;
}
}
@media (max-width: 767px) {
.product-thumb .button-group button, .product-thumb .button-group button + button {
	width: 33.33%;
}
}
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
}
.thumbnails {
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 0px;
	padding: 3px;
	display: block;
	border: medium none;
}
.image-additional {
}
.thumbnails .image-additional {
	float: left;
}
@media (min-width: 1200px) {
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(4n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		clear:left;
	}
}

#input-captcha, #input-payment-captcha {
    margin-bottom: 10px;
}

.product-info .image {
	display:block;
	margin-bottom: 15px;
	text-align: center;
}
#content.productpage .product-title{margin-top:0; border-bottom:1px solid #e4e3e3; padding:0 0 16px; position:relative; font-size:20px; font-weight:600; text-transform:capitalize; margin-bottom:10px; color:#f5606e;}
.dark_area {
    border-bottom: 4px solid #8a8989;
    display: none;
    padding: 0 0 16px;
    position: absolute;
    width: 20%;
	left:0;
}
.product-right .description{line-height:23px; padding:10px 0;}
.product-description .description-right{padding-left:15px; font-weight:400;}
.product-description td{font-weight:700;}
.product-right .list-unstyled .old-price{ font-size:13px; font-weight:400; color:#9c9c9c; margin-right:10px;}
#content .product-right .special-price, #content .product-right .product-price{ font-weight:700; font-size:17px; color:#22272a; margin:0; display:inline-block;}
.product-info .zoomContainer{ z-index:9; }/* It need for ie7 */
.product-info .additional-carousel{ position:relative; margin-left:0px; }
.product-info .image-additional {
	clear: both;
	overflow: hidden;
	padding-left: 25px;
    padding-right: 25px;
	width:425px;
}
#product .alert-info{ background:none; border:1px solid #333; color:#666666; margin:0 0 10px;}
.product-info .image-additional img {}
.product-info .image-additional a {
	display: block;
}
.flexslider .slides img {
	width: inherit;
}
.flexslider.carousel .slides img {
	width: auto;
}
.slides {
	padding: 0;
	margin:0;
	list-style: none;
}
.slides li {
	text-align: center;
}
.slides li img {
	text-align: center;
}
.flex-direction-nav a:before {
	line-height: 40px;
}


.productpage .product-left, .productpage .product-right{ width:50%; padding:0 15px;}

/*Megnor www.templatemela.com Start*/

/* box */
.box {
	margin-bottom:12px;
}
.box .box-heading {
	background: none repeat scroll 0 0 transparent;
    color:#f5606e;
    font-size: 16px;
    font-weight: 700;
    padding: 0 0 16px;
	border-bottom:1px solid #e4e3e3;
}
.box-heading > span{padding-bottom:15px; border-bottom:4px solid #e4e3e3;  text-transform:uppercase;}
.box .box-content {
	background: transparent;
	border:medium none;
	margin: 22px 0 0;
    padding:0px 0 0px;
}
.hometab .box-content{padding:0; margin:12px 0;}

#content .box .box-heading span {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-bottom: 1px solid #e9e8e8;
    color: #333333;
    font-size: 22px;
    font-weight: bold;
    padding: 0 0 10px;
    text-align: center;
    text-transform: uppercase;
}
#content .box .box-heading{ text-align:center; border:none; margin:0 0 41px; padding:0px;}


#content .box.related .box-heading {
	border-bottom:4px double #e4e3e3;
	background: none repeat scroll 0 0 transparent;
	padding: 0 0 16px;
	font-size: 17px;
	color: #333333;
	text-align:left;
}

.box-heading.related{text-transform:uppercase;}
#content .box .box-content {
	background: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	border:none;
	padding:10px 0; margin:0px;

}
#testcms .box-heading{
    margin-bottom: 50px;
	text-align:center;
}
#carousel-0 .box-heading{text-align:center; margin-bottom:15px;}
#testcms .box-heading span, #carousel-0 .box-heading span{
	border-bottom:1px solid #e9e8e8;
	color: #333333;
    font-size: 22px;
    font-weight:bold;
	text-align: center;
	text-transform:uppercase;
	padding:0 0 10px;
	background:none;
}

.box .box-content ul , #content .content ul {
	padding:0px;
	margin:0px;
	list-style:none;
}
.box .box-content ul li, #content .content ul li, .hometab .box .box-content ul li {
	line-height:22px;
	padding:3px 0;
}
.hometab .button_group > li, .hometab .box .box-content ul li {
    padding: 0 !important;
}
.box .box-content ul li a , #content .content ul li a{
	/*background:url(../image/megnor/dot.png) no-repeat scroll 2px 9px transparent;*/
	display:block;
	padding:0 0 0 0px;
	color:#454545;
	font-weight:500;
}
.box .box-content ul li a + a , .box .box-content ul li a + a:hover{ background:none; padding-left:0; }
.box .box-content ul li a:hover , #content .content ul li a:hover{
	/*background:url(../image/megnor/dot.png) no-repeat scroll 2px -16px transparent;*/
	color:#c3c3c3;
}
.box .box-content ul li ul li a, #content .content ul li ul li a{
	background:url(../image/megnor/dot.png) no-repeat scroll 2px -41px transparent;
	display:block;
	padding:0 0 0 13px;
	color:#454545;
	font-weight:500;
}
.box .box-content ul li ul li a:hover, #content .content ul li ul li a:hover{
	background:url(../image/megnor/dot.png) no-repeat scroll 2px -66px transparent;
	color:#c3c3c3;
}
.box .box-content ul ul{
	margin-left:0px;
}

/*Product Tab */
.tabfeatured_default_width{ width:250px;}
.tabbestseller_default_width{ width:250px;}
.tablatest_default_width{ width:250px;}
.tabspecial_default_width{ width:250px;}

.hometab {
    margin-top: 60px;
	position:relative;
}

.htabs {
	border:medium none;
	margin:0 0 41px;
	text-align:center;
}
.etabs {
    display: inline-block;
    float: none;
    padding: 0;
    margin: 0px;
    padding: 0;
    position: relative;
    text-align: left;
}
.htabs .etabs li {
    display: inline-block;
    float: left;
    list-style: none outside none;
    position: relative;
    text-align: center;
}
.htabs a {
    color: #9c9c9c;
    display: block;
    float: left;
    font-size: 17px;
    margin-right: 5px;
    padding: 11px 15px;
    text-align: center;
	font-weight:700;
	text-transform:uppercase;
	background:none;
	border:1px solid transparent;
}
.htabs a.selected, .htabs a:hover{
	color:#333333 ;
	border:1px solid #333333;
}
.hometab .tab-content {
	/*position:relative;*/
	padding: 0px;
	z-index: 2;
	overflow: visible;
	margin-bottom:0px;
	border:medium none;
}
.tab-content .tab {
    display: none;
}
.hometab .box{margin-bottom:2px;}
.hometab .customNavigation a.prev::before , .common-home .box .customNavigation a.prev::before{
    background: url(../image/megnor/line.jpg)  no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    height: 1px;
    left: -160px;
    margin: auto;
    position: absolute;
    top: 12px;
    width: 141px;
	cursor:default;
}
.hometab .customNavigation a.prev, .common-home .box .customNavigation a.prev {right: 28px; left:0; margin:0 auto; background:url(../image/megnor/sprite.png) no-repeat scroll -12px 0px transparent; border:medium none; font-size:0px;}
.hometab .customNavigation a:hover.prev, .common-home .box .customNavigation a:hover.prev {background-position: -12px -30px;}
.hometab .customNavigation a , .common-home .box .customNavigation a{ top: -22px;}
.hometab .customNavigation a.next::after , .common-home .box .customNavigation a.next::after{
    background: url(../image/megnor/line.jpg) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    height: 1px;
    margin: auto;
    position: absolute;
    right: -161px;
    top: 12px;
    width: 141px;
	cursor:default;
}

.hometab .customNavigation a.next, .common-home .box .customNavigation a.next {right: -22px; left:0; margin:0 auto; background:url(../image/megnor/sprite.png) no-repeat scroll -37px 0px transparent; border:medium none; font-size:0px;}
.hometab .customNavigation a:hover.next, .common-home .box .customNavigation a:hover.next {background-position: -37px -30px;}

/* Product Grid */

/* Product Grid Start */
.product-grid-list { }
#content .box-product, .product-grid-list ul, .hometab .box-product{
	list-style-type: none;
	position:relative;
	width: 100%;
	padding:0px;
	margin:0px;
	list-style: none;
	overflow: hidden;
}

.product-grid-list ul li,
#content .box-product .product-items, .hometab .box-product .product-items {
	margin-bottom: 14px;
	padding: 0;
	margin:0;
	position:relative;
	overflow: hidden;
}


#content .box-product .product-items, .hometab .box-product .product-items,
#content .product-carousel .slider-item {
	width:295px;
	float:left;
	display: inline-block;
}
.product-grid li {
	width:auto;
	float:none;
	display: inline-block;
}
.ie7 .product-grid li{ width:192px !important; }
#content .image-additional .slider-item{
	display: inline-block;
    float: left;
}

#content .image-additional .slider-item .product-block{
	margin:3px 2px;
	background:transparent;
	clear:both;
	overflow:hidden;
}

#content .image-additional .slider-item .product-block:hover {   box-shadow: none !important; -moz-box-shadow:none !important; -webkit-box-shadow:none !important;}
.product-block-inner {position: relative;}

.grid_default_width { width:250px;}
.featured_default_width{ width:250px;}
.module_default_width{ width:230px;}
.latest_default_width{ width:250px;}
.special_default_width{ width:250px;}
.related_default_width{ width:250px;}
.bestseller_default_width{ width:250px;}
.additional_default_width{ width:80px;}

.testcms_default_width{width:700px;}
.banners-slider-carousel .product-block-inner{text-align:center;}

.banners-slider-carousel .product-block img{ transition: all 0.3s ease 0s;}
.banners-slider-carousel .product-block:hover img{
    opacity: 0.6;
    transition: all 0.3s ease 0s;
}
.hometab .box-product.product-carousel{padding-top:0px;}

#content .product-carousel .product-block,
#content .product-grid .product-block,
#content .box-product .product-block, .hometab .product-carousel .product-block{
	margin:43px 13px 43px 12px;
	background:#fff;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	clear:both;
	overflow:hidden;
	border:medium none;
}
#content .product-grid .product-block{ margin:10px 12px 20px;}
#content #related-carousel.product-carousel .product-block, #content #related-grid.box-product .product-block, .hometab .box-product .product-block{margin:20px 13px 20px 12px;}
#carousel-0 .product-carousel .product-block {
    margin: 25px 5px;
}
.product-image-block{position:relative; max-width:100%;}

#content .product-carousel .product-block:hover,
#content .product-grid-list .product-block:hover,
#content .box-product .product-block:hover, .hometab .box-product .product-block:hover {
	overflow:hidden;
	clear:both;
}
.product-block .caption a{
	color: #9c9c9c;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
	text-transform:uppercase;
}
.product-block:hover .caption a{color:#000;}
.product-block .caption .cart_button,  #button-cart{
	background: none repeat scroll 0 0 transparent;
    border: 1px solid #333333;
    color: #333333;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
	margin-top:0px;
	transition:all 0.2s ease 0s;
	-moz-transition:all 0.2s ease 0s;
	-ms-transition:all 0.2s ease 0s;
	-webkit-transition:all 0.2s ease 0s;
	-o-transition:all 0.2s ease 0s;
}


.product-block:hover .caption .cart_button, #button-cart:hover{
	background:#333333;
    color: #fff;
}
.ie7 #content .product-carousel .product-block,
.ie7 #content .product-grid-list .product-block,
.ie7 #content .box-product .product-block{border:medium none;}

.product-grid .product-thumb .desc,.product-grid .product-thumb .price-tax,.product-carousel .product-thumb .price-tax{display:none;}
.product-list .product-details{overflow:hidden;}

#content .product-carousel .product-block-inner,
#content .product-grid-list .product-block-inner,
#content .box-product .product-block-inner, .hometab .box-product .product-block-inner{ padding:0 0; text-align:center; overflow:hidden; position:relative; margin:0;}


.banners-slider-carousel {
    padding-top: 50px;
    position: relative;
    width: 100%;
}


.sale{
	background-color:#f5606e;
    color: #fff;
    display: block;
    font-size: 11px;
    font-weight: 700;
    left: 10px;
    letter-spacing: 0;
    padding: 1px 4px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 12px;
}

.product-layout.product-grid, .product-layout.product-list{ padding:0px;}
.product-grid-list {  padding: 0 15px;}
.product-list .product-thumb .caption{ text-align:left; padding:0px;}
.product-list .product-thumb .button_group > li{ list-style:none;}
.product-list .product-thumb .caption h4{ margin:0 0 10px; padding:2px 0 5px;}
.productlist_details  .desc{
	clear: both;
    margin: 0 0 15px;
    padding: 0;
	font-weight:500;
}

/* box products for Left Column and Right Column */
#column-left .box-product,
#column-right .box-product {
	width: 100%;
	overflow: hidden;
}
#column-left .box-product > div,
#column-right .box-product > div  {
	display:block;
	vertical-align: top;
	margin-right:0px;
	margin-bottom: 5px;
	width:100%;
}

#column-left .box .box-content div.product-items:last-child > div, #column-right .box .box-content div.product-items:last-child > div,
#column-left .box .box-content div.slider-item:last-child > div, #column-right .box .box-content div.slider-item:last-child > div {
    border: 0 none;
}
#column-left .product-block .caption a, #column-right .product-block .caption a { color:#9c9c9c;}
#column-left .product-block .caption a:hover, #column-right .product-block .caption a:hover{ color:#000;}

#column-left .box-product .image,
#column-right .box-product .image {
	display: block;
	margin-bottom: 0px;
	float:left;
	margin-right:15px;
	border:medium none;
}

#column-left .product-items .product-details, #column-right .product-items .product-details, #column-left .slider-item .product-details, #column-right .slider-item .product-details
{
	width:66%; /* specify width as per your requirement */
	float:left;

}

#column-left .product-thumb .caption,
#column-right .product-thumb .caption{
	padding:0;
	text-align:left;
}
#column-left .product-thumb .image .product_hover_block, #column-right .product-thumb .image .product_hover_block{ display:none;}


#column-left .box-product .product-thumb h4, #column-right .box-product .product-thumb h4 {font-weight:400; font-size:13px;margin: 0 0 3px;}
#column-left .box-product .name,
#column-right .box-product .name {
	display: block;
}
#column-left .box-product .cart,
#column-right .box-product .cart {
	display: block;
}
#column-left .box-product .cart .button,
#column-right .box-product .cart .button{
	padding:0; background:none;box-shadow:none;  -moz-box-shadow:none; -webkit-box-shadow:none;
	height:auto;
	font-weight:400;
	border-radius:0; -webkit-border-radius:0px;  -khtml-border-radius:0px;  -moz-border-radius:0px;
	color:#555;
	display:block;
	text-align:left;
}
#column-left .box-product .cart .button:hover,
#column-right .box-product .cart .button:hover { text-decoration:underline;}
#column-left .box-product .image img,
#column-right .box-product .image img {opacity:1; -khtml-opacity: 1; -webkit-opacity:1; -moz-opacity:1; transition:none; width:70px;   -webkit-transition:none; -moz-transition:none; -ms-transition:none; -o-transition:none;}


#column-left .box-product .name,
#column-right .box-product .name {margin-bottom:16px; margin-top:3px; padding:0; color:#22272a; font-weight:700;}

#column-left .box-product .image > a, #column-right .box-product .image > a{margin:0;}

#column-left .box .box-content, #column-right .box .box-content,
#column-left .box .filterbox, #column-right .box .filterbox, #column-left .single-banner, #column-right .single-banner{margin-bottom:30px;}

#column-left .box-product .price,
#column-right .box-product .price{font-size:14px; margin:0 0 5px; padding:0px;}

#column-left .box-product .rating,
#column-right .box-product .rating {
	margin-bottom: 0px; padding:0px;
}
#column-left .product-thumb, #column-right .product-thumb {
	border:medium none;
	margin-bottom:3px;
	padding:10px 0;
}
#column-left .sale, #column-left .price-tax, #column-left .wishlist , #column-left .compare,
#column-right .sale, #column-right .price-tax, #column-right .wishlist , #column-right .compare {display:none !important;}
#column-left .product-thumb .button-group button, #column-right .product-thumb .button-group button  {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 0;
    width: auto;
	line-height: 20px;
	color:#333333;
	border:medium none;
	font-size:12px;
	}
#column-left .product-thumb .button-group button:hover, #column-right .product-thumb .button-group button:hover{ color:#9c9c9c;}
#column-left .product-thumb .button-group, #column-right .product-thumb .button-group {background:none; border:none; }


.top_button {
	background: url("../image/megnor/top_arrow.png") no-repeat scroll 0 0 transparent;
	height: 36px;
	width: 36px;
	right: 12px;
	bottom: 9px;
	display: none;
	position: fixed;
	z-index: 95;
	font-size:0;
	margin:0;

}

#content ul.list-unstyled {  border: medium none;
    margin-bottom: 10px;
    overflow: auto;
    padding: 10px 0px;
}
#content ul.list-unstyled li {
    line-height: 22px;
    padding: 3px 0;
}
.manufacturer-list {
    border: 1px solid #dddddd;
    margin-bottom: 20px;
    padding: 5px;
}
.manufacturer-heading {
    background: none repeat scroll 0 0 #f5f5f5;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 6px;
    padding: 5px 8px;
}
.manufacturer-content {
    padding: 8px;
}
.manufacturer-list ul {
    float: left;
    list-style: outside none none;
    margin: 0 0 10px;
    padding: 0;
    width: 25%;
}
#column-left .flexslider, #column-right .flexslider { margin: 0 0 20px; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; border-radius:0; -webkit-border-radius:0px;  -khtml-border-radius:0px;  -moz-border-radius:0px;}
.productpage .box {margin-top:20px; margin-bottom:0;}
.tab-content {
    border:1px solid #dddddd;
    padding: 20px 25px 20px;
	overflow:hidden;
}
.product-tag{margin:5px 0;}
#content .aboutus {
    clear: both;
	margin-bottom:25px;
}
.information-information .right, .modal-body .right { float: right;}
.image1 {
    background: url("../image/megnor/cms-sprite.png") no-repeat scroll 7px -160px;
    float: left;
    height: 50px;
    width: 70px;
}

.image2 {
    background: url("../image/megnor/cms-sprite.png") no-repeat scroll 7px -110px;
    float: left;
    height: 50px;
    width: 70px;
}

.image3 {
    background: url("../image/megnor/cms-sprite.png") no-repeat scroll 7px -48px;
    float: left;
    height: 50px;
    width: 70px;
}
.image4 {
    background: url("../image/megnor/cms-sprite.png") no-repeat scroll 7px 10px;
    float: left;
    height: 50px;
    width: 70px;
}
.aboutus h2{clear:both;font-size:20px;}
.about-content{overflow:hidden; margin-left:70px;}
.category_filter #grid-view:hover, .category_filter #grid-view.active{background:url(../image/megnor/sprite.png) no-repeat scroll -3px -203px transparent;}
.category_filter #grid-view{background:url(../image/megnor/sprite.png) no-repeat scroll -3px -231px transparent; border:medium none; height:32px; width:32px; }
.category_filter #list-view{background:url(../image/megnor/sprite.png) no-repeat scroll -29px -231px transparent; border:medium none; height:32px; width:32px; }
.category_filter #list-view:hover, .category_filter #list-view.active{background:url(../image/megnor/sprite.png) no-repeat scroll -29px -203px transparent;}
.category_filter #grid-view:hover .fa, .category_filter #list-view:hover .fa{color:#333;}
.category_filter .btn-list-grid{float:left;width:auto;padding:0; margin-top:0px;}
.compare-total {float: left;    margin: 5px 15px 0;}
.pagination-right { float: right;margin:0; width: auto;}
.category_filter .sort-by {float: left;margin: 5px 10px 0 0;  width: auto;padding:0;}
.category_filter .show {float: left; margin: 5px 10px 0;padding:0;}
.category_filter .sort { float: left; width: 150px;padding:0;}
.category_filter .limit {float: right; width: 65px;padding:0;}
.sort-by-wrapper,.show-wrapper{
    float: left;
}
.category_filter .list.active,.category_filter .grid.active{background:#428bca;}
.category_thumb .category_img, .category_thumb .category_description {
    float: left;
    width: 100%;
}
.category_list ul {
    padding: 0;
	display:inline-block;
	margin-bottom:0;
}
.refine-search ul{padding:0;}
.refine-search ul li{list-style:none;}
.category_list li a {
    color: #211f20;
    display: block;
    padding: 5px 0;
}
.category_list li a:hover {
    color: #c3c3c3;
}
.category_list li {
    float: left;
    list-style: outside none none;
    margin: 0 7px 7px 0;
}
.category_filter, .pagination-wrapper {
    border: medium none;
    display: inline-block;
    margin: 5px 0 15px;
    padding: 0px;
    width: 100%;
}
.category_filter{border-bottom:1px solid #e4e3e3; padding-bottom:10px;}
.pagination-wrapper{border-top:1px solid #e4e3e3; padding-top:5px;}
.pagination-wrapper .page-link {
    float: right;
    padding: 0;
    width: auto;
	margin:8px 0 0;
}
.pagination-wrapper .page-result
 {
    float: left;
    padding: 0;
    width: auto;
	margin: 8px 0 0;
}
.contact-info .left {
    float: left;
    width: 50%;
}
.contact-info .right {
    float: right;
    width: 50%;
}
.row.contact-info {
    padding: 0 15px;
}
.information-contact .panel-body{padding:30px;overflow:auto;}
.contact-info{color:#666;}
.contact-info .address-detail strong {
    background: url("../image/megnor/cms-sprite.png") no-repeat scroll -6px -233px transparent;
   	padding: 5px 0 0 40px;
	height:28px;
	margin:10px 0 5px;
	float:left;
	clear:both;
}
.contact-info .address-detail,.contact-info .telephone,.contact-info .fax{float:left;width:100%;}
.contact-info .telephone strong{
    background: url("../image/megnor/cms-sprite.png") no-repeat scroll -5px -312px transparent;
    padding: 5px 0 0 40px;
	margin:10px 0 5px;
	height:28px;
	float:left;
	clear:both;
}
.contact-info .fax strong{
    background: url("../image/megnor/cms-sprite.png") no-repeat scroll -5px -270px transparent;
    padding: 5px 0 0 40px;
	height:28px;
	margin:10px 0 5px;
	float:left;
	clear:both;
}
.contact-info address {
    display: inline-block;
    margin: 0 0 0 40px;
	float:left;
	clear:both;
}
#spinner {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: url("../image/megnor/ajax-loader.gif") 50% 50% no-repeat #fff;
}
.main-slider {
    position: relative;
}
.information-sitemap .sitge-map ul{padding:0 0 0 20px;}
.forget-password {margin: 5px 0 0;}
.product-compare .btn-primary{margin:5px 0 5px;}
.productpage .write-review, .productpage .review-count{margin: 0 10px;}

.checkout-cart .hasCustomSelect{width: 95% !important;}

.page-title{
	padding:0 0 10px;
	border-bottom:1px solid #eeeeee;
}
.page-title, .refine-search, .product-title, .product-option, #content h3, .aboutus > h3, .modal-title, .panel-title{
	font-size: 15px;
	font-weight:700;
	text-transform: uppercase;
	color: #333333;
}
.product-option{padding-bottom:10px; border-bottom:1px solid #e4e3e3;}
.page-title, .account-success h1, .affiliate-success h1, .checkout-success h2, .container h2, .checkout-cart h1{
	color: #333333;
    font-size: 15px;
    font-weight: 700;
    position: absolute;
    text-transform: uppercase;
    z-index: 4;
	left:0;
	top:-48px;
	border-bottom:medium none;
}
.col-sm-3.category_list{width:100%;}
.copy-right {
    border-top: 1px solid #444;
    padding: 10px 0;
	text-align:center;
}
.col-sm-12.product_bottom {
    margin-bottom:20px;
}
.affiliate-account .btn-primary .list-group-item{padding:0;background:none; font-weight:700;}
.affiliate-account .btn-primary .list-group-item:hover, .affiliate-account .btn-primary:hover a{color:#fff;}
#content .affiliate-logout { border: medium none; padding: 10px 0;}
.control-label.qty {
    float: left;
    margin: 3px 10px 0 0;
}
#input-quantity {
    float: left;
    height: 32px;
    margin-right: 10px; text-align:center;
    width: auto;
}

.productpage .product-right .btn-group button{ padding:0px; background:none; border:none; font-weight:600; margin:0 15px 0 0;}

.addthis_toolbox.addthis_default_style{margin-top:12px;}
.product-right .btn-group{margin:10px 0; overflow:hidden; display:block;}
.productpage .rating-wrapper { margin: 15px 0 15px;}

#content h3{margin-bottom:16px;}
.row.site-map{border:1px solid #e4e3e3; padding:15px 0; line-height:22px;}
.modal-content .aboutus {
    clear: both;
    margin-bottom: 25px;
}
.table.table-bordered .input-group-btn{float:left;}

.shopping-cart .input-group-btn .btn.btn-danger{margin-left:0px;}
#content .refine-search {margin-bottom: 0; margin-top: 10px;}
.affiliate-tracking .dropdown-menu a:hover{color:#c3c3c3;}
.common-home .alert{
    margin-bottom: 10px;
    margin-top: 10px;
}
.owl-controls .owl-page span {
	display: block;
	width: 14px;
	height: 14px;
	transition-duration: 300ms; -webkit-transition-duration: 300ms; -moz-transition-duration: 300ms; -ms-transition-duration: 300ms; -o-transition-duration: 300ms;
	background: url(../image/megnor/banner-bullate.png) no-repeat scroll 0px 0px transparent;
}
.owl-controls .owl-page.active span,.owl-controls .owl-page:hover span  {
	background: url(../image/megnor/banner-bullate.png) no-repeat scroll 0px -24px transparent;
}
.owl-carousel .owl-buttons .owl-next {
	opacity: 0;  -khtml-opacity: 0; -webkit-opacity: 0; -moz-opacity:0;
	background:url(../image/megnor/button.png) no-repeat scroll -48px 0px transparent;
}
.owl-carousel .owl-buttons .owl-next:hover{background-position:-48px -48px;}
.owl-carousel .owl-buttons .owl-prev {
	opacity: 0;  -khtml-opacity: 0; -webkit-opacity: 0; -moz-opacity:0;
	background: url(../image/megnor/button.png) no-repeat scroll 0px 0px transparent;
}
.owl-carousel .owl-buttons .owl-prev:hover{background-position:0px -48px;}

#tab-review .form-group.required label{ width:auto;}


.table-responsive thead td, #collapse-checkout-confirm thead td, .account-order-info thead td, .shopping-cart thead td, .account-wishlist thead td, .account-order-info thead td, .account-return-info thead td, .product-compare thead td, .product-compare thead tr td:first-child, .account-return thead td {
    background-color:#f5f5f5;
    border-bottom: 1px solid #dddddd;
    color: #666666;
}
.checkout-cart .input-group.btn-block .form-control {
    height: 32px;
    text-align: center;
    width: 40px;
}
.checkout-cart .input-group-btn:last-child > .btn, .checkout-cart .input-group-btn:last-child > .btn-group {
    font-size: 11px;
    margin-left: 5px;
}
#accordion label.col-sm-2.control-label {
    margin: 7px 0 0;
    padding: 0 15px 0 0;
    width: 25%;
}
#accordion .panel-title > a {
    color: inherit;
    display: inline-block;
    width: 100%;
}
#accordion .col-sm-10 {width: 75%;}
#accordion .form-horizontal .control-label {text-align:left;}
.account-address .table > tbody > tr > td {vertical-align: middle; border:none; padding:13px;}

.checkout-cart #accordion .panel-title {  padding: 0;}
#accordion .panel-title, .checkout-cart #accordion .panel-title > a { padding: 10px;}
#accordion #collapse-shipping label.col-sm-2.control-label { padding: 0 15px;}

.checkout-checkout #accordion label.col-sm-2.control-label {  padding-left: 15px;}
.form-horizontal .control-label { width: 25%;}
.form-horizontal .col-sm-10 {  width: 75%;}

.account-register #content fieldset, .account-register #content .captcha, .affiliate-register #content .captcha, .account-edit #content fieldset, .account-password #content fieldset, .account-address-edit #content fieldset, .returnform #content fieldset, .account-download #content p, .account-return #content p, .account-newsletter #content fieldset, .account-recurring #content p, .affiliate-register #content fieldset, .affiliate-forgotten #content fieldset, .affiliate-edit #content fieldset, .affiliate-password #content fieldset, .affiliate-payment #content fieldset, .information-contact #content fieldset, .product-search #content fieldset, .account-forgotten #content fieldset, .account-address #content .table-bordered, .account-address-delete #content .table-bordered, .account-account #content .list-unstyled, .affiliate-account #content .list-unstyled, .affiliate-tracking #content .form-horizontal, #content .content, .affiliate-account #content ul.list-unstyled, .information-contact #content fieldset, .account-wishlist #content p {
    border: 1px solid #dddddd;
    margin: 0 0 10px;
    padding: 10px;
}
.search_area {
    margin-bottom: 15px;
}
.product-search .sort_cetegory {
    width: 32%;
}
.col-sm-3.search_subcategory {
    margin-top: 7px;
    width: auto;
}
#accordion .panel-heading .fa.fa-caret-down {
    float: right;
    margin-top: 4px;
}



@media (max-width: 1230px){

	.cms_banner img{max-width:100%;}
	.product-info .image-additional { width: 100%;}

	#footer #footer_aboutus_block.col-sm-3.column{ margin:0 20px 0 0;}
	#footer .col-sm-3.column.last{width:26%; margin:0 0 0 20px;}
	#footer .col-sm-3.column{margin:0 20px;}

	#menu > ul > li > div{left:-75px;}
	#column-left .fa-shopping-cart:before, #column-right .fa-shopping-cart:before  {display:none;}
	#column-left .hidden-xs, #column-left .hidden-sm, #column-left .hidden-md {display:block !important; text-transform: capitalize; font-weight:400;   margin-top: -25px;}
	.product-grid .product_hover_block{top:95px;}

	.contact-info .left{width:40%;}
	.contact-info .right{float:left;}
	.row.site-map{margin:0;}


	.product-list .product-thumb .image{margin-right:20px;}
	.footer-top .aboutme-read-more > a{font-size:12px; padding:12px 16px;}
	footer .footer-top .footer_title1{font-size:18px;}
	#testcms .slider-item .content-wrapper{ width:44%;}
	#testcms .slider-item .img{ width:50%;}
	.cms_subbanner_top{ margin:0 0 17px 0;}

	.tablatest_default_width{ width:200px;}
	#testcms .slider-wrapper-outer{ margin-bottom:50px;}
	#testcms .slider-controls.clickable{ bottom:-50px;}
	.product_hover_block{top:85px;}
	#column-left .product-items .product-details, #column-right .product-items .product-details, #column-left .slider-item .product-details, #column-right .slider-item .product-details{ width:59%;}
	.col-sm-4.col-sm-offset-8 {  margin-left: 51.667%;    width: 48.333%;}

}
@media (max-width: 1024px){
	#menu > ul > li > div{left:-80px;}
	.nav-responsive span, .main-menu > ul > li > a{ padding:24px 17px;}


	#cart.fixed{right:20px;}
	.product-grid .product_hover_block{top:100px;}
	#accordion label.col-sm-2.control-label{ width:30%;}
	#accordion .col-sm-10{ width:70%;}
	.product-search .sort_cetegory{ width:45%;}


}
@media only screen and (min-width: 768px) and (max-width: 980px){
	.layout-2.left-col #column-left,.layout-2.right-col #column-right{width:28%;}
	.layout-2 #content{width:72%;}
	#column-left .box-product .image img, #column-right .box-product .image img{ width:60px;}

}
@media (max-width: 979px) {
	#column-left .box-product .image, #column-right .box-product .image {margin-right:7px;}
	.pagination-right {
		clear: both;
		float: left;
		margin: 10px 0 0;
	}
	.product-compare .table-bordered{
		width:100%;
		float:left;
		overflow:auto;
		display:inline;
	}
	#accordion .form-horizontal .control-label{width:100%;}
	#res-menu{display:block;}
	#menu.main-menu, #menu ul{display:none;}
	.nav-responsive span{padding:24px 0 24px;}

	#search .input-lg{ width:220px;}
	.header_right{ width:70%;}


	.footer_bottom_link{ position:relative; left:auto; right:auto;}
	#footer_aboutus_block > h5, #footer .footer_left.col-sm-3.column, #footer .footer_right.col-sm-3.column{display:block;}
	.footer_left, .footer_right{display:block; width:100%; text-align:center;}
	.footer_bottom .payment_block li, #footer .payment_block li{ float:none;}
	#footer #footer_aboutus_block.col-sm-3.column{width:100%; margin:0;}
	#footer .col-sm-3.column, #footer .col-sm-3.column.last{width:100%; margin:0;}
	.footer_right{margin:0px;}
	#footer.container{padding:35px 15px;}
	#footer .payment_block{margin:0; padding:0; list-style:outside none none;}
	.product-right .btn.compare{padding:7px 0px;}

	.account-wishlist .text-right .btn.btn-primary, .account-wishlist .text-right .btn.btn-danger{margin-bottom:3px;}
	.account-wishlist .fa.fa-times{font-size:15.5px;}
	.account-voucher .buttons.clearfix .btn.btn-primary{margin-top:8px;}
	.contact-info .right{width:100%; float:left; margin-top:20px;}
	.contact-info .left{width:100%;}
	.row.site-map{margin:0;}
	footer h5{margin-top:0;}
	#footer_aboutus_block .tm-about-description, #footer .col-sm-3.column.last > ul, #footer .payment_block{margin-bottom:10px;}
	.footer_bottom_inner.container{ padding:0 15px;}

	#testcms .slider-item .img{width:auto;}
	#testcms .slider-item .content-wrapper{ width:55%;}
	#column-left .product-thumb .button-group button, #column-right .product-thumb .button-group button  {text-align:left; letter-spacing:0px;}
	.shopping-cart .input-group .form-control{width:100%;}
	#footer .col-sm-3.column.last > ul, #footer_aboutus_block .tm-about-description{padding-right:30px;}

	#cart.fixed .dropdown-menu{top:198%;}
	.tm-about-text{ line-height:25px;}

	.product-grid .product_hover_block{top:115px;}

	.cms_subbanner1_1{ padding:0 5px 0 0;}
	.product-list .product-thumb .image{margin-right:10px;}
	#accordion label.col-sm-2.control-label, #accordion .col-sm-10{ width:100%;}
	.checkout-cart .table.table-bordered .input-group-btn { clear: both;    float: left;    margin: 5px 0 0;}
	.checkout-cart .input-group-btn:last-child > .btn, .checkout-cart .input-group-btn:last-child > .btn-group { margin-left: 0;   margin-right: 5px;}
	.checkout-cart #accordion #button-coupon, .checkout-cart #accordion #button-voucher, .checkout-cart #accordion #button-reward { margin-left: 5px;}
	.form-horizontal .control-label{ width:35%;}
	.form-horizontal .col-sm-10{ width:65%;}
	#column-left .product-thumb .price-old, #column-right .product-thumb .price-old{ display:block;}
	.productpage .product-left, .productpage .product-right{ width:100%; margin-bottom:20px;}
	.product-info .image, .product-info .additional-carousel { margin: 0 auto; width: 400px;}

}
@media (max-width: 767px) {
	.layout-2 #content,.layout-3 #content{width:100%;}
	.layout-2.left-col #content, .layout-2.right-col #content{ padding:0 15px;}
	.product-info .image-additional {width: 100%;}
	.product-info .image-additional a {padding: 1px;}
	.header-logo{text-align:center;}
	.header-cart{width:auto;display:inline-block;text-align:center;}
	.header-logo > div{display:inline-block;}
	.btn-info {margin-bottom:3px;}
	#input-search {margin-bottom: 8px;}
	#logo .img-responsive { margin: 0 auto;}
	.checkout-cart .btn.btn-danger { margin-top: 0px !important;}
	.button_class {clear:both;}
	.show-wrapper{clear:both;margin:10px 0 0;}
	.category_filter .show {float: left; margin: 5px 10px 0 0;}
	.product-compare .table-bordered{float:left;width:100%;overflow:auto;display:inline;}

	.addthis_toolbox.addthis_default_style{margin: 10px 0;}
	#content .category_list .filterbox{border:medium none; margin:20px 0;}
	#content .category_list .filterbox .list-group a{border:none;}
	nav .container, #top .container{padding:0 15px;}
	header .row, #footer .row{margin:0;}


	#column-left, #column-right{display:none;}
	.product-grid.col-xs-12{width:50%;}
	.background-overlay, .product-thumb .rating, #content .action .button_group, .hometab .action .button_group{display:none;}
	.page-title, .account-success h1, .affiliate-success h1, .checkout-success h2, .container h2, .checkout-cart h1{position:relative; left:auto; top:auto; margin:15px 0; padding:0px; }
	.breadcrumb{position:relative; top:auto;  margin:10px 0 10px; right:auto;}
	.product-list .product-thumb .rating, #content .product-list .action .button_group{display:block;}
	.product-right .btn.compare{padding:7px 12px;}
	.col-sm-3 .checkbox-inline{margin:8px 0;}
	.form-horizontal .col-sm-2, .form-horizontal .col-sm-10{width:100%;}
	#testcms .slider-item .img{width:40%; margin-right:15px;}

	.list_cart_button{margin-bottom:20px;}
	#collapse-coupon label, #collapse-voucher label{padding:0;}
	.main-slider .owl-carousel{margin: 0 0 15px;}
	.home-about-me.container{padding:15px;}
	 .main-slider .owl-carousel .owl-buttons .owl-next, .main-slider .owl-carousel .owl-buttons .owl-prev{opacity:1; -khtml-opacity:1; -webkit-opacity:1; -moz-opacity:1;}
	#carousel-0 .customNavigation a{opacity:1; -khtml-opacity:1; -webkit-opacity:1; -moz-opacity:1;}
	.hometab .product-block:hover .image img, .product-grid .product-block:hover .image img, .box.related .product-block:hover .image img, .product-list .product-block:hover .image img, .common-home .product-block:hover .image img
			{opacity:1; -khtml-opacity:1; -webkit-opacity:1; -moz-opacity:1;}
	.product-list .product-thumb .product_hover_block{ display:none;}

	#top .pull-left { display: inline-block;    float: none;}
	#top{ text-align:center;}
	#top-links{ float:none; padding:10px 0;}
	.header_left {  float: none;    text-align: center;}
	.header_inner{ text-align:center;}
	.header_right { display: block; width: 100%; float:none;max-width: 100%;}
	.tablatest_default_width{ width:250px;}
	.hometab .product-block:hover .image a, .product-grid .product-block:hover .image a, .box.related .product-block:hover .image a, .product-list .product-block:hover .image a { background-color: rgba(255, 255, 255, 0);}
	.content-top-breadcum{ display:none;}

	.col-sm-4.col-sm-offset-8 {  margin-left: 0;    width: 100%;}
	.product-search .sort_cetegory{ width:100%;}
	#form-currency .dropdown-menu, #form-language .dropdown-menu{ z-index:1001;}

}
@media only screen and (max-width: 479px) {
	.product-info .image-additional a{ float:none; text-align:center; padding: 1px;}
	.table{
		float: left;
		margin-bottom: 20px;
		overflow: scroll;
		width: 100%;
	}
	.product-layout.product-grid{width:100% !important;}
	.shopping-cart .input-group .form-control{padding:0;text-align:center;}
	.account-wishlist .table-bordered{float:left;width:100%;overflow:auto;display:inline;}
	#cart .dropdown-menu table {display: inline-block;}
	.flex-direction-nav a:before {font-size:27px !important;}
	.dropdown-menu.pull-right {width: 100%;}
	.bootstrap-datetimepicker-widget.dropdown-menu.pull-right{width:250px;}
	#cart .dropdown-menu li > div {min-width:100%;}
	.category_filter .limit {float: left;}
	.contact-info .left,.contact-info .right{width:100%;}
	.product-info .image, .product-info .additional-carousel {width: 285px;}
	.nav-tabs > li{width:100%; text-align:center; margin-bottom:-3px !important;}
	.nav-tabs > li > a{margin:0 0 2px;}
	.productpage .write-review, .productpage .review-count { display: inline-block;margin: 5px 0 0;width: 100%;}
	.pagination-wrapper .page-link{float:left;}
	.pagination-wrapper .page-result{float:left;clear:both; text-align:left;}
	.checkout-cart #content .pull-right {clear: both;float: left; margin: 10px 0;}

	#top-links .dropdown-menu.dropdown-menu-right.myaccount-menu > li{display:block;}
	.cms_right_banner{margin-top:10px; margin-left:0;}
	.htabs{height:120px;}
	.htabs .etabs li, .htabs a.selected, .htabs a:hover, .htabs a, .etabs{width:100%; margin-right:0; margin-bottom:2px;}
	.hometab .customNavigation a, .common-home .customNavigation a{top:-20px;}
	.htabs li:first-child a, .htabs a{padding:10px 22px;}
	#product select{width:93% !important;}
	.header-cart{ width:100%; margin:0 0 15px; float:none;}
	#cart{float:none;}
	.search{ float:none; width:100%;}
	#search{margin:0 auto;}
	.nav-tabs > li > a{margin-right:0px !important;}
	.account-address .btn.btn-info, .account-address .btn.btn-danger{margin-bottom:3px;}
	#collapse-coupon .input-group-btn, #collapse-voucher .input-group-btn{clear:both; float:left; margin-top:5px;}

	#testcms .slider-item .content-wrapper {  clear: both;   float: left;    margin:20px 0 0; width:100%}
	#testcms .slider-item .img {  margin-right: 0;    width:auto;	}
	#cart .dropdown-menu{width:280px; right:-76px;}
	#input-coupon, #input-voucher{float:none;}
	.hometab .customNavigation a.prev::before, .common-home .customNavigation a.prev::before, .hometab .customNavigation a.next::after, .common-home .customNavigation a.next::after{display:none;}

	.main-slider .owl-controls .owl-buttons div{display:none;}
	.home-about-me.container{text-align:center;}
	.aboutme-read-more, .tm-about-text{float:none;}
	footer p{bottom:5px;}
	.hometab{margin-top:20px;}
	.htabs{margin: 0 0 45px;}

	.cms_subbanner_top{margin:0 0 15px;}
	#form-currency .dropdown-menu{ left:-25px; z-index:1001;}
	.dropdown-menu.language-menu{ left:-10px; z-index:1001;}

	.cms_subbanner1_1{ width:100%; padding:0px;}
	.cms_subbanner1_2{ width:100%; padding:0px; margin:15px 0 0;}
	.product-list .productlist_details{ float:left; margin:10px 0; clear:both;}
	.product-list .product-thumb .image{ margin:0px;}
	.checkout-cart #accordion #button-coupon, .checkout-cart #accordion #button-voucher, .checkout-cart #accordion #button-reward { margin-left: 0;}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li > a{ border:1px solid #e4e4e4 !important;}
	#logo .img-responsive{ width:100%;}
}

@media only screen and (max-width: 319px){
	.product-info .product-image .customNavigation{ width:196px; margin:0 auto; position: relative; }
	.product-info .additional-carousel {width:196px; margin:0 auto;}
	.header-logo .img-responsive { width: 100%;}
	.btn-primary {margin-bottom:2px;}
	.compare-total {clear: both; margin: 8px 0px 0px 0;}
	#cart .dropdown-menu{width:210px; right:-40px;}
	#cart .text-right .addtocart{margin:0 0 5px;}
	#cart .text-right .checkout{margin:0; clear:both;}
	#product select{width:88% !important;}
	.hometab{margin-top:20px;}
	.cms_banner{margin-bottom:20px;}
	.product-right .btn.compare {padding: 7px 0;}
	#content .box-heading.related {font-size: 12px;}
	#footer .col-sm-3.column .email > a{word-wrap:break-word;}
	.product-thumb .image img{width:100%;}
	.account-address .table .text-right{vertical-align:middle;}
	#search .input-lg, #search:hover .input-lg, #search .input-lg:focus, #search .input-lg:active{width:155px;}

	#cart.fixed{right:5px;}
	span.customSelect{overflow:hidden;}
	#top .language span, #top .currency span{ display:none;}
	#form-currency .dropdown-menu, .dropdown-menu.language-menu{ left:-45px;}
	.product-info .image, .product-info .additional-carousel{ width:100%;}

}

/* Megnor www.templatemela.com End*/

@-webkit-keyframes fixedAnim{0%{top:-40px;}100%{top:0;}}
@-moz-keyframes fixedAnim{0%{top:-40px;}100%{top:0;}}
@keyframes fixedAnim{0%{top:-40px;}100%{top:0;}}

/*Fator Digital*/
.st-title {
    color: #B23D11;
}
@media only screen and (max-width: 1230px){
	#search .input-lg{
		width: 230px;
	}
}
@media only screen and (max-width: 1200px){
	.search{
		max-width: calc( 100% - 150px );
	}
	.search .content-2 {
		margin-left: 5%;
	}
}
@media only screen and (max-width: 992px){
	.search{
		max-width: 100%;
	}
	.search .content-1{
		width: 100%;
		max-width: 100%;
		display: block;
		margin: 15px 0;
	}
	.search .content-2 {
		margin-left: 5%;
	}
}
@media (max-width: 767px){
	#search{
		margin: 0 auto;
		display: block;
	}
	#search .input-lg{
    width: calc(100% - 37px);
	}
	.header-cart {
		float: none;
		margin: 0;
	}
	.search .content-2 img {
    left: 0;
	}
}
/*Fator Digital*/
